#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1a222a;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #05181d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
}

h1 {
  font-size: 24px;
  color: #d6cbcb;
  text-align: center;
  margin-bottom: 5px;
}

label {
  font-size: 14px;
  color: #d6cbcb;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
}

input[type="text"]:focus {
  border-color: #007BFF;
  outline: none;
  background-color: #fff;
}

input[type="checkbox"] {
  margin-right: 10px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.disabled-button {
  background-color: grey;
  cursor: not-allowed;
}

.form-group {
  margin-bottom: 20px;
}

.note {
  font-size: 12px;
  color: #888;
  text-align: center;
  margin-top: 10px;
}

.status-message {
  font-size: 16px;
  color: #007BFF;
  text-align: center;
  margin-top: 20px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.progress-bar-inner {
  height: 20px;
  width: 0;
  background-color: #007BFF;
  text-align: center;
  color: white;
  line-height: 20px;
  transition: width 0.3s;
}

.no-bg-change {
  background-color: white !important;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
}
